/ find the instance of that pic
/ we can use @pic cause its already been defined
= image_tag @pic.image.url
%h1= @pic.title
%p= @pic.description
/ find user email attribute of that pic
%p
Pic by
= @pic.user.email

%br

= link_to "Back", root_path
= link_to "Edit", edit_pic_path
= link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" }
